/* CSS */
/* Eléments principaux de la page */

body
{
    background: rgb(239, 203, 175);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: justify;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
}
/*header*/
header
{
	background-color: rgb(238, 134, 64);
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-left: 20px;
}
#titre_principal
{
	display: flex;
	flex-direction: column;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
	height: 80px;
	width: 70px;
	float: left;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 4em;
    font-weight: normal;
    margin: 34px 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
    text-align: center;
}
/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Body */
#tupetesuncables
{
    text-align: center
}
section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

article h1
{
    font-size: 50px;
    text-align: center;
}

article h2
{
    text-align: center;
    margin-bottom: 40px;
    margin-bottom: 30px;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 20px;
}

/* Body- FIRST ACT SECOND ACT THIRD ACT pages */
#first_act + #second_act + #third_act
{
    margin-bottom: 50px;
    margin-top:  30px;
    position: relative;
    font-size: 20px;
    text-align: left;
}

#elephants + #tiger + #horse + #pinkpanters + #fivebro + #Green_bird
{
    position: relative;
    font-size: 20px;
    text-align: left;
}

/* Body- CONTACT PAGE */
#contactus
{   
    margin: 20px;
    font-size: 50px;
    border: solid 2px black;
    border-radius: 5px;
    padding-bottom: 50px;
    text-align: center;
}

form
{
    display: inline-block;
    margin: 0 auto;
    width: 500px;
}

form p
{
    font-size: 15px;
}

.send 
{
    width: 30%;
    border: solid black 3px;
}

label
{
    display: inline-block;
    width: 100px;
    text-align: right;
}

/* Body- ASIDE */
aside
{
    flex: 1.2;
    position: relative;
    background-color: rgba(83, 0, 0, 0.5);
    border-left: black solid 2px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}


#tiger img
{
    border: 1px solid black;
    width: 450px;
    position: relative;
    left: 8%;
}

#acrobats img
{
    border: 1px solid black;
    width: 450px;
    position: relative;
    left: 8%;
}

#trapeze img
{
    border: 1px solid black;
    width: 450px;
    position: relative;
    left: 8%;
}
#horses img
{
    border: 1px solid black;
    width: 450px;
    position: relative;
    left: 8%;
}
aside img
{
    margin-right: 5px;
    margin-top: 10px;
}

aside h1
{
	text-align: center;
    font-size: 200%;
}

/* Aside- HOME page */ 
.planning
{
    text-align: center;
}
aside h2
{
    margin-bottom: -3%;
    margin-top: 5%;
}
/* Footer */
footer 
{
    position: relative; 
    clear:both;
    margin-top: 100px;
    height: 50px;
    padding-bottom: -200px;
}

#baspage
{
	background-color: rgb(238, 134, 64);
	background-position: bottom;
	border-top: 2px solid black ;
}

footer p, footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#rs
{
    width: 35%;
    position: relative;
    left: 40%;
}

#rs img
{
    margin:auto;
    height: 100%;
    width: :100%;

}

#fb + #tw + #fl + #rss + #vi
{
    margin-right: auto;
    margin-left: auto;
    height: 60px;
}

@keyframes AutoSlide {
    0% {
        left: 0px; /*1ère image*/
    }
    15% {
        left: 0px; /*idem pour attente*/
    }
    35% {
        left: -150px; /*2ème image*/
    }
    50% {
        left: -150px; /*idem pour attente*/
    }
    70% {
        left: -300px; /*3ème image*/
    }
    85% {
        left: -300px; /*idem pour attente*/
    }
    100% {
        left: 0px; /*1ère image*/
    }
}

#slideshow {
    position: relative;
    width: 300px;
    height: 250px;
    margin:  20px auto;
    overflow: hidden;
}
#sContent li {
    position: center;
}

#sContent {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    width: 450px;
    margin: 0;            
    padding: 0;
    
    /*CSS3 keyframes animation*/
    animation-name: AutoSlide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}