/* CSS */
/* Eléments principaux de la page */

body
{
    background: rgb(239, 203, 175);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: justify;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
}
/*header*/
header
{
	background-color: rgb(238, 134, 64);
	border: 2px solid black;
	border-radius: 6px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-left: 20px;
}
#titre_principal
{
	display: flex;
	flex-direction: column;
}
#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
	height: 80px;
	width: 70px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 4em;
    font-weight: normal;
    margin: 34px 0 0 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
    text-align: center;
}
/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#image_tournee
{
    text-align: center;
}

#image_tournee img
{
    border: 1px solid black;
    width: 300px;
}

aside img
{
    margin-right: 5px;
    margin-top: 10px;
}
aside h1
{
	text-align: center;
}

/* Footer */
footer
{
	background-color: rgb(238, 134, 64);
	border: 2px groove black ;
	border-radius: 6px;
	vertical-align: top;
}
footer img
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}
#rs 
{
	margin-left: 10%;
}
#nos_photos
{
	margin-left: 50%;
}
#nos_photos img
{
	height: 60px;
}
